.TodoItem {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoItem input[type="checkbox"]{
  cursor: pointer;
}
.TodoItem span, strike{
  margin: 0px 10px
}

.TodoItem img {
  height: calc(10px + 2vmin);
  width: auto;
  cursor: pointer;
}
